* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    font-size: 24px;
}

main{
   	width: 80%;
    margin: 2rem auto;
}

#large, #small{
	display: none;
}

.message{
	font-weight: bold;
}

@media screen and (min-width: 1200px) {
	body{
		background: yellow;
	}
	main{
		width: 1000px;
	}
	#large{
		display: block;
	}
	#medium{
		display: none;
	}
}


@media screen and (max-width: 800px) {
	body{
		background: pink;
	}
	main{
		width: 95%;
		font-size: 18px;
		line-height: 1.2;
	}
	#medium{
		display: none;
	}
	#small{
		display: block;
	}
}

@media print {

	body{
		font-size: 10.5pt;
		line-height: 1.5;
	}

	main{
		width: 90%;
	}

	p{
		max-width: 30em;
	}

}
